.container {
  display: flex;
  box-sizing: border-box;

  & .list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & .item {
    margin: 0 10px;
  }

  & .link {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
  }
}
