:root {
  // Color Pallete
  --color-one: #ffd490;
  --color-two: #a8a8e6;
  --color-three: #625691;
  --color-four: #b65f55;
  --color-five: #ffe3b8;
  --color-six: #bda47e;
  --color-seven: #f7b279;
  --color-eight: #e77560;
  --color-nine: #feffdc;

  // Global colors
  --white-one: #ffffff;
  --white-two: #dadaff;

  // Backgrounds
  --background-one: #7f7fc8;
  --background-two: #9a9ae6;
  --background-three: #a9a9eb;
  --background-four: #c9ccf2;
  --background-five: #c0c0f3;
  --background-six: #dbd7fc;

  // Color
  --primary-one: #ffd490;

  --secondary-one: #463f60;
  --secondary-two: #473d61;
  --secondary-three: #57526f;
  --secondary-four: #453e5f;

  --danger-one: #e31d1c;

  // Text colors
  --header-primary: #ffffff;
  --header-secondary: #f7b279;

  --text-primary: #463f60;
  --text-secondary: #ffffff;

  //Fonts
  --fontEditUndoBRK: "Edit Undo BRK", sans-serif;
  --fontIBMPlexMono: "IBM Plex Mono", sans-serif;
}
